.app-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: center;

  /* padding: 8px; */
  font-size: 20px;
}

.tr-1 {
  /* border: 1px solid black; */
  background: #54b435;
  ;
  text-align: left;
  color: white;
  padding: 7px 7px 7px 45px;
  font-size: 25px;
  border-radius: 4px;

}

.app-container>h3 {
  /* border: 1px solid black; */
  padding: 1rem;
  border-radius: 15px;
  background-color: #379237;
  box-shadow: 3px 3px 3px rgb(114, 167, 109);
}

td input {
  height: 40px;
  width: -webkit-fill-available;
  margin: 10px;
  /* margin-top: 0; */

  /* width: 100%; */
}

td select {
  height: 40px;
  font-size: 15px;
  width: -webkit-fill-available;
  margin: 10px;
  background: transparent;
}

th {
  background-color: #82CD47;
  color: #ffffff;
}

td {
  background-color: #f0ff4233;
}


.app-container form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}


#table-container {
  display: none;
}

.app-container td {
  padding: 20px;
  /* padding-left: 80px; */
}

h5 {
  color: rgb(49, 65, 204);
}

/* styles.css */
.table-container {
  overflow-x: auto;
  
  /* Add horizontal scrollbar when table content exceeds container width */
}
h3{
  color: white;
}